<div class="projectArea">
  <!-- Image -->
  <div class="imageAreaProject" *ngIf="imgProject1 && imgProject2">
    <img
      src="{{ imgProject1 }}"
      [ngStyle]="imgStyle"
      alt=""
      class="imageProjectTwice"
    />
    <img
      src="{{ imgProject2 }}"
      [ngStyle]="imgStyle"
      alt=""
      class="imageProjectTwice"
    />
  </div>

  <div class="imageAreaProject" *ngIf="imgProject1 && !imgProject2">
    <img
      src="{{ imgProject1 }}"
      [ngStyle]="imgStyle"
      alt=""
      class="imageProjectAlone"
    />
  </div>
  <!-- Text -->
  <div class="textAreaProject">
    <svg
      data-v-03bb70b6=""
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      preserveAspectRatio="xMidYMid meet"
      viewBox="-10 0 200 50"
      width="100"
      height="43"
      class="column svg-divider"
    >
      <defs data-v-03bb70b6="">
        <path
          data-v-03bb70b6=""
          d="M183.78 30.64C165.41 30.64 156.22 10.64 137.84 10.64C119.46 10.64 110.27 30.64 91.89 30.64C73.51 30.64 64.32 10.64 45.95 10.64C27.57 10.64 18.38 30.64 0 30.64"
          id="gEK2QeZAN"
        ></path>
      </defs>
      <g data-v-03bb70b6="">
        <g data-v-03bb70b6="">
          <g data-v-03bb70b6="">
            <use
              data-v-03bb70b6=""
              xlink:href="#gEK2QeZAN"
              opacity="1"
              fill="#000000"
              fill-opacity="0"
            ></use>
            <g data-v-03bb70b6="">
              <use
                data-v-03bb70b6=""
                xlink:href="#gEK2QeZAN"
                opacity="1"
                fill-opacity="0"
                [ngStyle]="{ stroke: colorProject, 'stroke-width': '20' }"
                stroke-width="20"
                stroke-opacity="1"
              ></use>
            </g>
          </g>
        </g>
      </g>
    </svg>
    <!-- Stroke = Change color -->
    <div class="projectTitle">{{ titleProject }}</div>
    <div class="projectDescription">{{ descriptionProject }}</div>
    <div class="tagsArea">
      <div class="tagsTitle" id="tagsTitle">Techno:</div>
      <div
        *ngFor="let tag of tagProject"
        class="tags"
        style="background-color: {{ colorProject }}"
      >
        {{ tag }}
      </div>
    </div>
    <!-- LinkArea -->
    <div class="linkContainer">
      <div class="linkArea" style="background-color: #53a793" *ngIf="link">
        Link :
        <a href="{{ link }}" target="_blank" class="link">{{ linkName }}</a>
      </div>
      <div
        class="linkArea"
        style="background-color: #c18d8d"
        *ngIf="githubLink"
      >
        GitHub :
        <a href="{{ githubLink }}" target="_blank" class="link">here</a>
      </div>
    </div>
  </div>
</div>
