.darkmodeArea {
  display: flex;
  width: 100%;
  height: 55px;
  justify-content: center;
  align-items: center;
  padding: 15px 0 0 0;
  margin: 4% 0 0 0;
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 4em;
  height: 2em;
  transform: scale(0.8);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--backgroundInput);
  transition: .5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 11%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #fff000;
  background: var(--backgroundInput);
  transition: .5s;
}

input:checked + .slider {
  background-color: var(--backgroundInput);
}

input:checked + .slider:before {
  transform: translateX(130%);
  box-shadow: inset 15px -4px 0px 15px #fff000;
}

.footer-navbarContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0 2.5rem 0;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.484);
  font-family: "GothamFont";
}
