<div class="firstView">
  <div class="containerFirstPage">
    <!-- Name -->
    <div class="nameArea">
      <div class="name" id="name">Thomas Kauffmant</div>
    </div>
    <!-- Developper -->
    <div class="developperArea">
      <div class="developper" id="developper">Junior Developper</div>
    </div>
    <!-- Section Link -->
    <div class="linkArea">
      <div class="projectArea">
        <div class="projectTitle" (click)="redirectToProjects()">Projects</div>
      </div>

      <div class="githubText">
        <a href="https://github.com/thomasperge" class="githubLink" target="_blank">GitHub</a>
      </div>
    </div>
  </div>
</div>