<div class="firstView">
  <div class="containerFirstPage">
    <!-- Name -->
    <div class="nameArea">
      <div class="name" id="name">Thomas Kauffmant</div>
    </div>
    <!-- Developper -->
    <div class="developperArea">
      <div class="developper" id="developper">developper</div>
    </div>
    <!-- Section Link -->
    <div class="linkArea">
      <div class="greenBackground" style="margin-right: 4.5%">
        <div class="availableText">Available</div>
      </div>
      <div class="githubText" id="githubText">GitHub</div>
      <div class="discordArea">
        <div class="popupDiscord" id="popupDiscord">elthomas#2246</div>
        <img
          src="./../../../assets/discord.svg"
          class="discordImage space-flex"
          alt="Discord"
          id="discordImage"
        />
      </div>
      <img
        src="./../../../assets/linkedin.svg"
        class="linkedinImage"
        id="linkedinImage"
        alt="Linkedin"
      />
    </div>
  </div>


</div>
