.portfolioArea {
  width: 100%;
  height: auto;

  .all-project-area {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.portfolioNameArea {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 2% 0 4.5% 0;
  color: var(--colorMode);
  font-size: 3.2rem;
  font-family: 'GothamFont';
  font-weight: bold;
}