<div class="portfolioArea">
  <!-- Portfolio Title -->
  <div class="portfolioNameArea" id="portfolioNameArea">Portfolio</div>

  <app-left-project
    [titleProject]="'Cryptocurrency'"
    [descriptionProject]="
      'Cryptocurrency is a desktop software to see the price of the main cryptos (Bitcoin, ETH, Tether, Cardano, ...). It has more than 20 stock prices listed. A curve shows the price trends of the last 7 days.'
    "
    [tagProject]="[
      'Crypto',
      'CryptoCurrencies',
      'Bitcoin',
      'CoinGecko',
      'Javascript',
      'NodeJs',
      'ElectronJs'
    ]"
    [imgProject1]="'./../../../assets/AssetsCryptoCurrencyPhone.png'"
    [imgProject2]="'./../../../assets/AssetsCryptoCurrency.png'"
    [colorProject]="'#ff8800'"
  ></app-left-project>

  <app-right-project
    [titleProject]="'ToDoApp'"
    [descriptionProject]="
      'ToDoApp is a task management application made with ElectronJs. The application is easy to use, it allows to schedule tasks according to a priority order and categories that the user chooses.'
    "
    [tagProject]="[
      'ToDoApp',
      'ToDoList',
      'ToDo',
      'Javascript',
      'Html',
      'NodeJs',
      'ElectronJs'
    ]"
    [imgProject1]="'./../../../assets/todogif.gif'"
    [colorProject]="'#ff8800'"
  ></app-right-project>

  <app-left-project
    [titleProject]="'Tic&Tac'"
    [descriptionProject]="
      'Tic&Tac is a site supporting the Spotify API in Golang, the user creates an account, and accesses all the artists in the world and their music, the user can bookmark artists, and songs. There is also a concert implementation.'
    "
    [tagProject]="['Spotify', 'Spotify API', 'Artist', 'Song', 'Golang']"
    [imgProject1]="'./../../../assets/groupieTracker.png'"
    [colorProject]="'blue'"
  ></app-left-project>

  <app-right-project
    [titleProject]="'BringIt'"
    [descriptionProject]="
      'BrintIt is an application allowing the organization of events, with a system of selection of items by user. The user can create an event and a group from an invitation link (Ydays)'
    "
    [tagProject]="[
      'Typescript',
      'NestJs',
      'API',
      'BringIt',
      'ReactJs',
      'App',
      'AppStore'
    ]"
    [imgProject1]="'./../../../assets/bringit.png'"
    [imgProject2]="'./../../../assets/bringit2.png'"
    [colorProject]="'#ff8800'"
  ></app-right-project>
</div>
