/* ==== Project ==== */
.projectArea {
  display: flex;
  width: auto;
  height: auto;
  justify-content: space-between;
  gap: 50px;
  padding: 1.5% 8% 1.5% 8%;
}

.textAreaProject {
  width: 65%;
  height: auto;
  // padding: 0 1% 0 0;
}

.imageAreaProject {
  display: flex;
  width: 64%;
  height: auto;
  align-items: center;
}

.projectTitle {
  color: var(--colorMode);
  font-size: 2.5rem;
  font-family: 'GothamFont';
  font-weight: bold;
}

.projectDescription {
  color: var(--colorMode);
  font-size: 1.4rem;
  font-family: 'GothamFont';
  margin-top: 6.5%;
  margin-bottom: .6rem;
}

.imageProjectTwice {
  width: 40%;
  height: auto;
}

.imageProjectAlone {
  width: 90%;
  height: auto;
}

/* ==== Tags ==== */
.tagsArea {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  margin-top: .6rem;
  // margin-top: 1.5rem;
}

.tagsTitle {
  color: var(--colorMode);
  font-size: 1.4rem;
  font-family: 'GothamFont';
  margin-right: 1%;
}

.tags {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
  padding: 0.7% 1.5% 0.7% 1.5%;
  margin: 0 1.15% 0 0%;
  color: var(--colorMode);
  font-size: 1.1rem;
  font-family: 'GothamFont';
  border-radius: 20px;
  background-color: var(--tagsBackground);
}

.linkContainer {
  width: auto;
  height: auto;
  display: flex;
  margin-top: .6rem;
}

.link {
  text-decoration: none;
  font-size: 1.32rem;
  font-family: 'GothamFont';
  transition: all ease-in 125ms;
}

.link:hover {
  color: var(--colorMode) !important;
}

.separator {
  font-size: 1.32rem;
  color: var(--colorMode);
  margin: 0 .4rem;
}