/* You can add global styles to this file, and also import other style files */
@import "themes";

@font-face {
  font-family: "GothamFont";
  src: url("./font/GothamMedium.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--backgroundColor);
  scroll-behavior: smooth !important;
  scroll-padding: 2rem;
}

@media screen and (max-width: 1100px) {
  .projectArea {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  app-project-detail>.projectArea {
    flex-direction: column !important;
  }

  app-project-detail>.projectArea>.textAreaProject {
    width: 85% !important;
  }

  app-project-detail>.projectArea>.imageAreaProject {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%;
  }

  app-project-detail>.projectArea>.imageAreaProject>.imageProjectAlone {
    margin: 0 !important;
    padding: 0 !important;
    width: 65%;
  }
}