/* You can add global styles to this file, and also import other style files */
@import "themes";

@font-face {
  font-family: "GothamFont";
  src: url("./font/GothamMedium.ttf");
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--backgroundColor);
  scroll-behavior: smooth !important;
  scroll-padding: 2rem;
}

@media screen and (max-width: 1290px) {
  .projectArea {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
}